.main-banner-image{
    background-image: url(../../img/works/gregor-and-the-marks-of-secret/4-secret-1.jpg);
}

.mockingjay-images{
    width: 20rem;
    height: 25rem;
    border-width: 5px;
    border-style: solid;
}