.main-banner-image{
    background-image: url(../../img/works/gregor-and-the-code-of-claw/Gregorfivecover-bg.jpg);
}

.mockingjay-images{
    width: 20rem;
    height: 25rem;
    border-width: 5px;
    border-style: solid;
}