.main-banner-image{
    background-image: url(../../img/works/gregor_the_overlander/gregor-the-underland-chronicles.png);
}

.mockingjay-images{
    width: 20rem;
    height: 25rem;
    border-width: 5px;
    border-style: solid;
}