.main-banner-image{
    background-image: url(../../img/works/gregor-and-the-curse-of-the-warmbloods/gregor2b3.png);
}

.mockingjay-images{
    width: 20rem;
    height: 25rem;
    border-width: 5px;
    border-style: solid;
}